body{
	font-family: "Arial";
	background: #eee;
	color: #111;
}

header h1{
	font-size: 6em;
	margin: 0 auto;
}

footer{
	background: #432;
	color: #fff;
}
.page-wrapper{
	text-align: center;
	margin: 0 auto;
	background: #e2f322;
	max-width: 900px;
}