body{
	font-family: "Arial";
	background: #eee;
	color: #111;
}

header{
	background: #e2f322;	
}
header a{
	color: #000;
}

footer{
	background: #432;
	color: #fff;
}



nav a{
	text-decoration: none;

	
}

ul{
	list-style-type: none;
}
.page-wrapper{
	text-align: center;
	margin: 0 auto;
	background: #e2f322;
	max-width: 900px;
}