body{
	font-family: "Arial";
	background: #eee;
	margin: 0 auto;
	color: #111;
}

h1 h2 h3{
	margin: 0 auto;
}



header{
	background: #e2f322;	
}
header a{
	color: #000;
}

header h1{
	font-size: 70px;

}

footer{
	background: #432;
	color: #fff;
}



nav a{
	text-decoration: none;
	font-size: 20px;
	margin-right: 10px;
	
}

ul{
	list-style-type: none;
	margin: 0 auto;
}

ul li{
	display: inline;
}

label{
	display: block;
}

label, input, textarea{
	margin-bottom: 1rem;
	width: 100%;

}

form{
	display: inline-block;
	text-align: center;
	width: 80%;
	max-width:  32rem;	
}

nav button{
	display: none;
}


@media screen and(min-width: 860px){
    .menu {
        position:relative;
        display:inline-block;
    }
}

@media (max-width: 450px){
	header h1{
		font-size: 60px;
		text-align: center;
	}



}

.page-wrapper{
	text-align: center;
	margin: 0 auto;
	background: #fff;
	max-width: 900px;
}


.info{
	text-align: center;
}