<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Salladr{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<header>
		<h1>SALLADR</h1>
		
			
		<nav class="menu">
		<button class="hamburger">&#9776;</button>
		
			<ul class="active">
				<li class="current-items">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/profile/">profile</a>
				</li>
				<li>
					<a href="/contact/">Contact</a>
				</li>
				<li>
					<a href="/logout">logout</a>
			</ul>
		</nav>
			
		</header>
		
		<div class="page-wrapper">
		
		{% block content %} {% endblock %}
		<footer>
			<p>All rights to salladr</p>
		</footer>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="/static/javascript/script.js"></script>
	</body>
</html>